<!DOCTYPE html>
<html lang="en">
<style>
table {
  border:1px solid black;
}
</style>
<head>
    <meta charset="UTF-8">
    <title>Some list</title>
</head>
<body>
    <table>
  <thead>
      <th bgcolor = "#A6AFD0">Author name</th>
      <th bgcolor = "#A6AFD0">Numbers of books</th>
    </tr>
  </thead>
  <tbody>
    <tr>
        {% for a in book_count %}
        <td><a href = "{% url 'new_app:author_detail' pk=a.id %}">{{ a.name }}</a></td>
        <td>{{ a.num_books }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
</body>
</html>