<!DOCTYPE html>
<html lang="en">
<style>
table {
  border:1px solid black;
}
</style>
<head>
    <meta charset="UTF-8">
    <title>Authors list</title>
</head>

<body>

{% block content %}
  <h1>Authors List</h1>
<strong><a href='{% url "new_app:author_create" %}'>Create new Author</a></strong><br><br>
<table>
    <thead>
      <th bgcolor = "#A6AFD0">Author name</th>
      <th bgcolor = "#A6AFD0">Numbers of books</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        {% for a in author_list %}
        <td><a href='{% url "new_app:author_cbv" pk=a.id %}'>{{ a.name }}</a></td>
        <td>{{ a.count }}</td>
    </tr>
        {% endfor %}
    </tbody>
</table>
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

{% endblock %}
</body>
</html>
